.bg-blue{
    background-color: #1B3058;
    color: #ffffff;
}

.bg-light-blue{
    background-color: #0e0ed5;
    color: #ffffff;
}

.bg-yellow{
    background-color: #F2BE1E;
    color: #000000;
}

